img{
  height: 50%;
  width: 50%;
	margin-left: 30%;
}

.aboutButton{
  color:blue;
  background-color:aquamarine;
}
.portButton{
  color:blue;
  background-color:aquamarine;
}

#contact{
	background-color:antiquewhite;
	font-family:monospace;
}



#frontEnd{
/*  display:none;*/
}
#redStripe{
/* display:none;*/
}
#UnityUnreal{
/*  display:none;*/
}

#aboutMe{
/*  display:none;*/
}
.aboutMe{
/*  display:none;*/
}
/*
#WritingSamples{
  display:none;
}
#VideoPhotography{
  display:none;
}*/
