body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

a {
  background-color: antiquewhite;
}

.black {
  background-color: black;
}

.blue {
  background-color: #2C3E50;
}

html {
  background-color: antiquewhite;
}

p {
  font-size: 20px;
  background-color: black;
  color: azure
}

p.small {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  -webkit-margin-before: 0.55em !important;
  -webkit-margin-after: 0.55em !important;
}

.img-centered {
  margin: 0 auto;
}

header {
  text-align: center;
  color: white;
}


section {
  text-align: center;
}

section h2 {
  margin: 0;
  font-size: 3em;
}

section.success {
  background: #814621;
  color: white;
}

@media (max-width: 767px) {
  section {
    padding: 12px 0;
  }
  section.first {
    padding-top: 75px;
  }
}

footer {
  color: white;
  left: 10%;
  top:170%;
  width: 80%;
  position:absolute;
  
}

footer .footer-above {
  padding-top: 1%;
  background-color: #2C3E50;
}

footer .footer-col {
  margin-bottom: 50px;
}

footer .footer-below {
  padding: .5% 0;
  background-color: #233140;
}


/* iframes */
iframe {
  overflow: hidden;
  display: inline;
  position: absolute;
  z-index: -1;
  background-color: antiquewhite;
}

#frameLeft{
  left: -15%;
}
#frameRight {
  left: 50%;
  z-index: -2;
}


/* photos */

#grainyDog {
  position:absolute;
  top:125%;
  left: 0;
  width: 100%;
  height: auto;
  align-content: center;
}

.me{
    position: absolute;
    z-index: -1;
    width: 45%;
    height: auto;
    top: 75%;
}

#meLeft {
    width:55%;
    left: 1%;
}
#meRight{
    width:55%;
    left: 40%;
}