.blue {
  background-color:rgba(76, 127, 178, 1);
  color:aquamarine;
  display: inline;
  position: absolute;
  visibility: visible;
  font-size: 2em;
  padding: .5em;
  border: .125em solid black;
  top: 41em;
  left: 8%;
  z-index:2;
  /*  border-left: 0;*/
}


#about {
  background-color:rgba(178, 127, 76, 1); /*burlywood azure */
  border: .2em solid rgba(76, 127, 228, 1); /* #814621; beige*/
  color: aliceblue;
  position: absolute;
  visibility:visible;
    top: 150%;
    left: 1%;
  padding: 30% 70% 50% 10%;
  border-radius: 1em;
}
#about > h3{
  position: absolute;
}

#aboutTitle{
  border: 0;
  width:70%;
/*  left: -2em;*/
  top: -.5em;
  color: aquamarine;
  font-size: 1.25em;
}
#techTitle{
  top: 7em;
  font-size: 1.2em;
  color: beige;
}
#inspTitle{
    top: 20em;
  font-size: 1.2em;
  color: beige;
}

.aboutPoint{
  padding: 0;
  font-size:1em;
  font-weight:500;
/*position: absolute;*/
  display: block;
}
#tech1{
  position:absolute;
  top:11em;
}



/*
artPoint
tech1
tech2
*/
