#about {
  background-color:rgba(178, 127, 76, 0.7); /*burlywood azure */
  border: .2em solid rgb(76, 178, 127); /* #814621; beige*/
  color: aliceblue;
  position: absolute;
  visibility:visible;
    top: 40%;
    left: 18.25%;
  padding: 15% 32% 27% 5%;
  
}
#about > h3{
  border: 0;
  font-size: 1.33em;
  position: absolute;
  display: inline !important; 
  left: 5%;
  width: 105%;
}

#aboutTitle{
  top: 0;
}
#techTitle{
  top: 33%;
}

.aboutPoint{
  font-size:1em;
  padding: .2em 0 .2em 0;
  font-weight:500;
  text-align: center; position: absolute;
  top:40%;
}
