@media (max-width: 525px) {
	.blue {
		font-size: .85em;
		font-weight: 600;
		padding-top: .2em;
		padding-bottom: .2em;
	}
}

@media (max-width: 480px) {
	.blue {
		font-size: .8em;
	}
}

@media (max-width: 453px) {
	.blue {
		font-size: .7em;
	}
}

@media (max-width: 402px) {
	.blue {
		font-size: .65em;
		margin-top: .2em;
	}
}

@media (max-width: 380px) {
	.blue {
		font-size: .7em;
	}
}

@media (max-width: 320px) {
	.black {
		font-size: 1.25em;
	}
}

@media (max-width: 273px) {
	.black {
		font-size: 1.1em;
	}
}


@media (max-width: 450px) {
	.button {
		font-size: .9em;
		padding: 5% 160% 5% 5%;
	}
	#buttonMenu {
		lefT: 73%;
		top: 40%;
	}
	#contact {
		top: 17%;
	}
	#headerFrame {
		width: 22em;
		height: 4em;
	}
	#meLight {
		width: 65%;
	}
	#meDark {
		widtH: 62%;
	}
}