header {
  text-align: center;
  color: white;
  position: absolute;
  display: inline;
  visibility: visible;
  width: 100%;
  border-left: 0;
  z-index: 2;
}

.black {
  top: 1em;
  width: 7em;
  left: 2.5%;
  background-color: black;
  color: aquamarine;
  font-size: 2.5em;
  display: inline;
  position: absolute;
  visibility: visible;
  border: .5em solid rgba(76, 127, 178, 0.7);
}


@media (max-width: 525px) {
  .blue {
    font-size: .85em;
    font-weight: 600;
    padding-top: .2em;
    padding-bottom: .2em;
  }
}

@media (max-width: 480px) {
  .blue {
    font-size: .8em;
  }
}

@media (max-width: 453px) {
  .blue {
    font-size: .7em;
  }
}

@media (max-width: 402px) {
  .blue {
    font-size: .65em;
    margin-top: .2em;
  }
}

@media (max-width: 380px) {
  .blue {
    font-size: .7em;
  }
}

@media (max-width: 320px) {
  .black {
    font-size: 1.25em;
  }
}

@media (max-width: 273px) {
  .black {
    font-size: 1.1em;
  }
}
