iframe {
  margin: 0;
  border: 0;
  overflow: hidden;
  display: inline;
  position:absolute;
  z-index: -1;
  top: 7%;
}

#iframeLeft {
    height: 18.5%;
    position: absolute;
    left: 6.3%;
    top: 20.5%;
    width: 33%;
    z-index: 0;
}


#iframeRight {
  height: 26.75%; position:absolute;
  left: 32%;
  width: 53%;
}
#iframeCenter{
height: 36.5%;
    position: absolute;
    left: 5.9%;
    top: 4.5%;
    width: 69%;
    z-index: -2;
  
}