iframe {
  margin: 0;
  border: 0;
  overflow: hidden;
  position: absolute;
  z-index: 0;
}

#iframeLeft {
  position: absolute;
    left: 14%;
    top: 10%;
  width: 100%;
  height: auto;
  z-index: 0;
}

#iframeRight {
  top: 40%;
  left: -16.5%;
  position: absolute;
  width: 100%;
  height: auto;
       -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
  z-index:-1;
}

#iframeCenter {
  height: 26.5%;
  position: absolute;
  left: 32%;
  top: 165.5%;
  width: 69%;
  z-index: 3;
}
