.me {
  position: absolute;
}

#meLeft {
  left: 11%;
  top: 59%;
   z-index: -4;
  width:77%;
/*  height: auto;*/
}

#meRight {
  top: 48%;
/*  left: -8%;*/
  width: 100%;
/*  width: 55em;*/
/*  height: auto;*/
  z-index: -4;
}
