* {
  visibility: hidden;
}

a {
  background-color: antiquewhite;
}

body {
  overflow-x: hidden;
   visibility:visible;
  border: 0;
   border-bottom: 0;
}

html {
  background-color: antiquewhite;
  height: 100%;
}

