body.landing {
<<<<<<< HEAD
     background-color: rgb(58,23,63);
=======
    background-color: rgb(117, 130, 110);
>>>>>>> bootstrap_stripped
 }
 
 .hero-content {
     position: relative;
     min-height: 600px;
     background-image: url(../assets/images/a2471945238_16.jpg);
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
 }
 
 .hero-content .hero-title {
     position: absolute;
     top: 40%;
     -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     transform: translateY(-50%);
     width: 100%;
<<<<<<< HEAD
     text-align: center;
     font-size: 4rem;
=======
     text-align: r;
     font-size: 3.59rem;
>>>>>>> bootstrap_stripped
     font-weight: 300;
     text-transform: uppercase;
     letter-spacing: 0.5rem;
     text-shadow: 1px 1px 0px rgb(58,23,63);
 }
 
 .selling-points {
     position: relative;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
 }
 
 .point {
     position: relative;
<<<<<<< HEAD
     padding: 2rem;
=======
     padding: 1.4rem;
>>>>>>> bootstrap_stripped
     text-align: center;
 }
 
 .point .point-title {
<<<<<<< HEAD
     font-size: 1.25rem;
 }
 
 .ion-music-note,
 .ion-radio-waves,
 .ion-iphone {
     color: rgb(233,50,117);
     font-size: 5rem;
=======
     font-size: 1.5rem;
     padding-bottom: none;
 }
 
 .ion-music-note,
 .ion-android-calendar,
 .ion-iphone {
     color: white;
     font-size: 4rem;
>>>>>>> bootstrap_stripped
 }