.Four-choice {
		display: none;
}

#fourbarrier0 {
	top: 19%;
	height: 5px;
	background-image: url("http://i.imgur.com/9K2uCwE.png");
	z-index: 6;
	width: 100%;
	-webkit-background-size: 100%;
	background-repeat: no-repeat no-repeat;
}

#fourbarrier1 {
	top: 28%;
	height: 5px;
	background-image: url("http://i.imgur.com/9K2uCwE.png");
	z-index: 6;
	width: 100%;
	-webkit-background-size: 100%;
	background-repeat: no-repeat no-repeat;
}
#fourchoice1 {
    top: 32%;
    z-index: 6;
    width: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
	text-align: center;
	-webkit-background-size: 100%;
	background-repeat: no-repeat no-repeat;
}
#fourbarrier2 {
	top: 44%;
	height: 5px;
	background-image: url("http://i.imgur.com/9K2uCwE.png");
	z-index: 6;
	width: 100%;
	-webkit-background-size: 100%;
	background-repeat: no-repeat no-repeat;
}
#fourchoice2 {
    top: 47.5%;
    z-index: 6;
    width: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
	text-align: center;
	-webkit-background-size: 100%;
	background-repeat: no-repeat no-repeat;
}
#fourbarrier3 {
	top: 60%;
	height: 5px;
	background-image: url("http://i.imgur.com/9K2uCwE.png");
	z-index: 6;
	width: 100%;
	-webkit-background-size: 100%;
	background-repeat: no-repeat no-repeat;
}
#fourchoice3 {
    top: 63.5%;
    z-index: 6;
    width: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
	text-align: center;
	-webkit-background-size: 100%;
	background-repeat: no-repeat no-repeat;
}
#fourbarrier4 {
	top: 76%;
	height: 5px;
	background-image: url("http://i.imgur.com/9K2uCwE.png");
	z-index: 6;
	width: 100%;
	-webkit-background-size: 100%;
	background-repeat: no-repeat no-repeat;
}
#fourchoice4 {
    top: 80%;
    z-index: 6;
    width: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
	text-align: center;
	-webkit-background-size: 100%;
	background-repeat: no-repeat no-repeat;
}
#fourbarrier5 {
	top: 92%;
	height: 5px;
	background-image: url("http://i.imgur.com/9K2uCwE.png");
	z-index: 6;
	width: 100%;
	-webkit-background-size: 100%;
	background-repeat: no-repeat no-repeat;
}