.Four-choice {
		display: none;
}
.fourbarr{
		height: 5px;
	z-index: 6;
	width: 100%;
	-webkit-background-size: 100%;
	background-repeat: no-repeat no-repeat;
}
.fourch{
	font-size: 1.15em;
	    z-index: 6;
    width: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
	text-align: center;
	-webkit-background-size: 100%;
	background-repeat: no-repeat no-repeat;
}

#fourbarrier0 {
	display:none;
	top: 23.5%;
	background-image: url("http://i.imgur.com/9K2uCwE.png");
}

#fourbarrier1 {
	top: 31.5%;
	background-image: url("http://i.imgur.com/9K2uCwE.png");
}
#fourchoice1 {
    top: 34.5%;
}
#fourbarrier2 {
	top: 47%;
	background-image: url("http://i.imgur.com/9K2uCwE.png");
}
#fourchoice2 {
    top: 50.5%;
}
#fourbarrier3 {
	top: 63%;
	background-image: url("http://i.imgur.com/9K2uCwE.png");
}
#fourchoice3 {
    top: 67%;
}
#fourbarrier4 {
	top: 80%;
	background-image: url("http://i.imgur.com/9K2uCwE.png");
}
#fourchoice4 {
    top: 83.5%;
}
#fourbarrier5 {
	top: 96.5%;
	background-image: url("http://i.imgur.com/9K2uCwE.png");
}

@media screen and (max-length: 558px){

	#fourbarrier0{
		top:23.5%;
	}
}