html {
/*    width: 100%;*/
}

img{
    width: 100%;
}


img {
    vertical-align: top;
}


/* chrome */

map,
area {
    position: absolute;
    display: block;
    text-align: center
}

map {
    top: 0;
    left: 0;
    font-size: 2em;
}

area:before {
/*    content: attr(title);*/
    color: white;
    text-shadow: 0 0 1px #333;
}

area{
/*
    margin-top: 8px;
    margin-left: 8px;
*/
    width: 75px;
    height: 62px;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.5);
/*    line-height: 232px;*/
}


.circle {
    position: relative;
    overflow: hidden;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #E94E3D;
    box-shadow: 60px -60px 0 2px #E94E3D, -60px -60px 0 2px #E94E3D, -60px 60px 0 2px #E94E3D, 60px 60px 0 2px #E94E3D, 0 0 0 2px #E94E3D;
  display:inline;
}



@keyframes unborder {
  0% {
    box-shadow: 33px 33px 33px 2px white, 33px 33px 33px 2px white, 33px 33px 33px 2px white, 33px 33px 33px 2px white, 0 0 0 2px white;
    transform: scale(1.0);
    -webkit-transform: scale(.5);
  }
  50% {
    box-shadow: 33px 33px 33px 2px white, 33px 33px 33px 2px white, 33px 33px 33px 2px white, 33px 33px 33px 2px white, 0 0 0 2px white;      
    transform: scale(1.25);
    -webkit-transform: scale(1.25);
    }
  100% {
    box-shadow: 33px 33px 33px 2px white, 33px 33px 33px 2px white, 33px 33px 33px 2px white, 33px 33px 33px 2px white, 0 0 0 2px rgba(233,78,61,0);     
          transform: scale(1.0);
    -webkit-transform: scale(.5);
  }
}

@keyframes border {
  0% {
    box-shadow: 33px 33px 33px 2px rgba(233,78,61,0), 33px 33px 33px 2px rgba(233,78,61,0), 33px 33px 33px 2px rgba(233,78,61,0), 33px 33px 33px 2px rgba(233,78,61,0), 0 0 0 2px #E94E3D;
    transform: scale(.5);
    -webkit-transform: scale(.5);
  }
  100% {
    box-shadow: 33px 33px 33px 0px rgba(233,78,61,0), 33px 33px 33px 2px rgba(233,78,61,0), 33px 33px 33px 2px rgba(233,78,61,0), 33px 33px 33px 2px rgba(233,78,61,0), 0 0 0 2px #E94E3D;      
    transform: scale(1.25);
    -webkit-transform: scale(1.25);
    }
}
