
img{
    width: 100%;
    vertical-align: top;
}


/* chrome */

map,
area {
    position: absolute;
    display: block;
    text-align: center
}

map {
    top: 0;
    left: 0;
    font-size: 2em;
}

area:before {
/*    content: attr(title);*/
    color: white;
/*    text-shadow: 0 0 1px #333;*/
}

area{
    cursor:default !important;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.5);
}

#offHit{
    background: rgba(0,0,0,0);
}


@keyframes unborder {
  0% {
    box-shadow: 33px 33px 33px 2px rgba(233,78,61,0), 33px 33px 33px 2px rgba(233,78,61,0), 33px 33px 33px 2px rgba(233,78,61,0), 33px 33px 33px 2px rgba(233,78,61,0), 0 0 0 2px white;
    transform: scale(.5);
    transform: scale(1.0);
    -webkit-transform: scale(.5);
  }
  50% {
    box-shadow: 33px 33px 33px 2px rgba(233,78,61,0), 33px 33px 33px 2px rgba(233,78,61,0), 33px 33px 33px 2px rgba(233,78,61,0), 33px 33px 33px 2px rgba(233,78,61,0), 0 0 0 2px white;
    transform: scale(.5);     
    transform: scale(1.25);
    -webkit-transform: scale(1.25);
    }
  100% {
    box-shadow: 33px 33px 33px 2px rgba(233,78,61,0), 33px 33px 33px 2px rgba(233,78,61,0), 33px 33px 33px 2px rgba(233,78,61,0), 33px 33px 33px 2px rgba(233,78,61,0), 0 0 0 2px white;
    transform: scale(.5);    
          transform: scale(1.0);
    -webkit-transform: scale(.5);
  }
}

@keyframes border {
  0% {
    box-shadow: 33px 33px 33px 2px rgba(233,78,61,0), 33px 33px 33px 2px rgba(233,78,61,0), 33px 33px 33px 2px rgba(233,78,61,0), 33px 33px 33px 2px rgba(233,78,61,0), 0 0 0 2px #E94E3D;
    transform: scale(.5);
    -webkit-transform: scale(.5);
  }
  100% {
    box-shadow: 33px 33px 33px 0px rgba(233,78,61,0), 33px 33px 33px 2px rgba(233,78,61,0), 33px 33px 33px 2px rgba(233,78,61,0), 33px 33px 33px 2px rgba(233,78,61,0), 0 0 0 2px #E94E3D;      
    transform: scale(1.25);
    -webkit-transform: scale(1.25);
    }
}