html {
  height: 100%;
}
body {
  height: 100%;
  background: white;
}

.circle {
  position: relative;
  overflow: hidden;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: grey;

}

@keyframes unborder {
  0% {
    box-shadow: 33px 33px 33px 2px white, 33px 33px 33px 2px white, 33px 33px 33px 2px white, 33px 33px 33px 2px white, 0 0 0 2px white;
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
  50% {
    box-shadow: 33px 33px 33px 2px white, 33px 33px 33px 2px white, 33px 33px 33px 2px white, 33px 33px 33px 2px white, 0 0 0 2px white;      
    transform: scale(1.25);
    -webkit-transform: scale(1.25);
    }
  100% {
    box-shadow: 33px 33px 33px 2px white, 33px 33px 33px 2px white, 33px 33px 33px 2px white, 33px 33px 33px 2px white, 0 0 0 2px rgba(233,78,61,0);     
          transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

@keyframes border {
  0% {
    box-shadow: 33px 33px 33px 2px white, 33px 33px 33px 2px white, 33px 33px 33px 2px white, 33px 33px 33px 2px white, 0 0 0 2px #E94E3D;
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
  100% {
    box-shadow: 33px 33px 33px 2px white, 33px 33px 33px 2px white, 33px 33px 33px 2px white, 33px 33px 33px 2px white, 0 0 0 2px #E94E3D;      
    transform: scale(1.25);
    -webkit-transform: scale(1.25);
    }
}




/*
@keyframes border {
  0% {
    box-shadow: 60px -60px 0 2px #E94E3D, -60px -60px 0 2px #E94E3D, -60px 60px 0 2px #E94E3D, 60px 60px 0 2px #E94E3D, 0 0 0 2px #E94E3D;
  }
  25% {
    box-shadow: 0 -125px 0 2px #E94E3D, -60px -60px 0 2px #E94E3D, -60px 60px 0 2px #E94E3D, 60px 60px 0 2px #E94E3D, 0 0 0 2px #fff;
  }
  50% {
    box-shadow: 0 -125px 0 2px #E94E3D, -125px 0px 0 2px #E94E3D, -60px 60px 0 2px #E94E3D, 60px 60px 0 2px #E94E3D, 0 0 0 2px #fff;
  }
  75% {
    box-shadow: 0 -125px 0 2px #E94E3D, -125px 0px 0 2px #E94E3D, 0px 125px 0 2px #E94E3D, 60px 60px 0 2px #E94E3D, 0 0 0 2px #fff;
  }
  100% {
    box-shadow: 0 -125px 0 2px #E94E3D, -125px 0px 0 2px #E94E3D, 0px 125px 0 2px #E94E3D, 120px 40px 0 2px #E94E3D, 0 0 0 2px #fff;
  }
}
*/

