body {
  font-family: Helvetica, Arial, Sans-Serif;
}
.Eval{
	
}

#vlogEval{
	width: 100%; 
}

header{ 
  color: rgb(190, 244, 244);
  background-color:rgba(15, 69, 135, 0.25);
}
body{
  background-color: rgb(56, 131, 134);
}

#banner{
  width: 100%;
  height: auto;
}
.hyperlink{

}
.innerpost{
  background-color: rgb(190, 214, 244);
  color: black;
	width: 94%
}
.sidebar{
  background-color:rgba(99, 182, 255, 0.25);
  width:10%;
}
.post{
  padding: 1%;
}