
html{
/*	background-color:coral;*/
}
div{
	position:absolute;
}
/*
#notify{
    position: absolute;
    font-size: .3em;
    top: 130%;

}
*/
#games{
	left:5%;
	width: 100%;
	height:auto;
	align-content: center;
	align-items: center;
}

.game{
	font-size:1em;
	padding: 1%;
	margin-top:3%;
	margin-bottom: 3%;
	border: 3px solid cornflowerblue;
	align-content: center;
    cursor: pointer;
}
/*

@media only screen and (max-width: 880px) {
    .game {
        font-size:3em;
    }
}
@media only screen and (max-width: 680px) {
    .game {
        font-size:2.5em;
    }
}
@media only screen and (max-width: 560px) {
    .game {
        font-size:1em;
    }
}
@media only screen and (max-width: 450px) {
    .game {
        font-size:1.6em;
    }
}
@media only screen and (max-width: 370px) {
    .game {
        font-size:1.3em;
    }
}
@media only screen and (max-width: 280px){
    .game {
        font-size:1.1em;
    }
}
*/
#author{
	border: 0;
	font-weight:350;
	left:0;
	font-size: .65em;
	position:absolute;
}
#title{
	border: 0;
	font-weight:700;
	left: 52%;
}
#threecm{
	top: 4em;
}
#cockquiz{
	top: 6em;
}
#msg{
	top:8em;
}
#rs_triv{
	top:10em;
}
#rs_wallp{
	top:12em;
}
#stelar{
	top:14em;
}