.glassquestion {
	display: none;
}

#backgroundGrid {
	height: 100%;
	background-color: black;
	background-image: url("https://i.imgur.com/MaH93Cg.png");
	width: 100%;
	-webkit-background-size: 100%;
	background-repeat: no-repeat no-repeat;
}

#aztecaIMG {
left: 61.5%;
    top: 35%;
    width: 22%;
    height: 26%;
	background-image: url("https://i.imgur.com/ulBlQvc.png");
	z-index: 6;
	-webkit-background-size: 100%;
	overflow: visible;
	opacity: 1;
	background-repeat: no-repeat no-repeat;
}

#catalinaIMG {
left: 60.2%;
    top: 70.5%;
	width: 22%;
	height: 22%;
	background-image: url("https://i.imgur.com/W5uacoX.png");
	z-index: 5;
	-webkit-background-size: 100%;
	overflow: visible;
	opacity: 1;
	background-repeat: no-repeat no-repeat;
}

#fluteIMG {
	left: 15%;
	top: 34.5%;
	width: 21%;
	height: 28%;
	background-image: url("https://i.imgur.com/rDgU2EZ.png");
	z-index: 7;
	-webkit-background-size: 100%;
	overflow: visible;
	opacity: 1;
	background-repeat: no-repeat no-repeat;
}

#rocksIMG {
    left: 16.5%;
    top: 70.5%;
	width: 19%;
	height: 20%;
	background-image: url("http://i.imgur.com/c2a7pH2.png");
	z-index: 8;
	-webkit-background-size: 100%;
	overflow: visible;
	opacity: 1;
	background-repeat: no-repeat no-repeat;
}

#tapdirections {
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 0px;
	word-wrap: break-word;
	transform: translateX(0px) translateY(113px) rotateY(0deg);
	height: 15px;
	text-align: center;
	width: 100%;
	z-index: 2;
	overflow: visible;
	color: rgb(255, 255, 255);
	opacity: 1;
}