.Two-choice {
	display: none;
}

.twoch {
	font-size: 1.15em;
	z-index: 6;
	width: 100%;
	padding-top: 10%;
	padding-bottom: 10%;
	text-align: center;
	-webkit-background-size: 100%;
	background-repeat: no-repeat no-repeat;
}

.twobarr {
	height: 5px;
	z-index: 6;
	width: 100%;
	-webkit-background-size: 100%;
	background-repeat: no-repeat no-repeat;
}

#twobarrier1 {
	top: 32%;
	background-image: url("http://i.imgur.com/9K2uCwE.png");
}

#twobarrier2 {
	top: 60%;
	background-image: url("http://i.imgur.com/9K2uCwE.png");
}

#twobarrier3 {
	top: 88%;
	background-image: url("http://i.imgur.com/9K2uCwE.png");
}

#twochoice1 {
	top: 37%;
}

#twochoice2 {
	top: 65%;
}