header {
	color: white;
	background-color: rgba(12, 26, 34, .9);
	height: 2em;
	width: 100%;
	display: block;
	z-index: 15;
	margin: 0;
}

#barrier {
	position: absolute;
	left: 10.05%;
	top: 2.1%;
	width: .22%;
	height: 5.5%;
	background-color: rgba(240, 240, 240, .03);
}

#rslogo {
	position: absolute;
	top: 2.65%;
	left: 3.25%;
	width: 14.75%;
}

#rslogo img {
	width: 33%;
	top: 3.5%;
}

.scoreboard_glasses {
	position: absolute;
	left: 0%;
	display: inline;
	width: .5em;
	height: auto;
	top: 1.75%;
	opacity: 0.25;
}

#bottle1 {
	left: 12.15%;
}

#bottle2 {
	left: 15.15%;
}

#bottle3 {
	left: 18.15%;
}

#bottle4 {
	left: 21.15%;
}

#bottle5 {
	left: 24.15%;
}

#bottle6 {
	left: 24.1%;
}

.score {
	position: absolute;
	font-size: 1vw;
	left: 27.7%;
	top: 5.6%;
	opacity: 1;
}

#time1 {
	font-family: 'Open Sans', sans-serif;
	position: absolute;
	left: 85%;
	top: 5.6%;
	font-size: 1vw;
	opacity: 1;
}

.time {
	font-family: 'Open Sans', sans-serif;
	position: absolute;
	left: 88.75%;
	top: 2.3%;
	display: inline;
	letter-spacing: -.3;
	font-size: 3.5vw;	
	opacity: 1;
}