header {
	color: white;
	background-color: rgba(12, 26, 34, .7);
/*	padding-bottom: 5.13%;*/
	height: 8.75%;
	width: 100%;
/*	position: absolute;*/
	display: block;
	z-index: 15;
	margin:0;
}

#barrier {
	position: absolute;
	left: 9.7%;
    top: .75%;
    width: .2%;
    height: 7%;
	background-color: rgba(240, 240, 240, .075);
}

#rslogo {
	position: absolute;
	top: 1%;
	left: 2.6%;
	width: 14.75%;
}

#rslogo img {
	width: 33%;
	top: 3.5%;
}

.scoreboard_glasses {
	position: absolute;
	left: 0%;
	display: inline;
	width: .825em;
	height: auto;
	top: 1.75%;
	opacity: 0.25;
}

#bottle1 {
	left: 11.7%;
}

#bottle2 {
	left: 14.1%;
}

#bottle3 {
	left: 16.6%;
}

#bottle4 {
	left: 19.1%;
}

#bottle5 {
	left: 21.6%;
}

#bottle6 {
	left: 24.1%;
}


#header{

		color: white;
	background-color: rgba(12, 26, 34, .7);
	padding-bottom: 5.13%;
	width: 100%;
	position: absolute;
	display: inline;
	z-index: 15;
}

.score {
	position: absolute;
	font-size: .52em;
    left: 24.5%;
    top: 4.5%;
	opacity: 0.4;
}


/*
.stripeLogo {
	margin: 2%;
}
*/

#time1 {
	/*	font-weight:300;*/
	font-family: 'Open Sans', sans-serif;
	position: absolute;
	left: 89.25%;
	top: 4%;
	font-size: .1em;
	opacity: .5;
}

.time {
	/*	font-weight:300;*/
	font-family: 'Open Sans', sans-serif;
	position: absolute;
	left: 92%;
	top: 2%;
	display: inline;
	font-size: 1.34em;
	/*	letter-spacing: .05em;*/
	opacity: .7;
}