header {
	color: white;
	background-color: rgba(12, 26, 34, .9);
	height: 3.3em;
	width: 100%;
	display: block;
	z-index: 15;
	margin: 0;
}

#barrier {
	position: absolute;
	left: 8.9%;
	top: 2%;
	width: .25%;
	height: 5.5%;
	background-color: rgba(240, 240, 240, .075);
}

#rslogo {
	position: absolute;
	top: 1.75%;
	left: 2.1%;
	width: 14.75%;
}

#rslogo img {
	width: 33%;
	top: 3.5%;
}

.scoreboard_glasses {
	position: absolute;
	left: 0%;
	display: inline;
	width: .825em;
	height: auto;
	top: 1.75%;
	opacity: 0.25;
}

#bottle1 {
	left: 11.7%;
}

#bottle2 {
	left: 14.1%;
}

#bottle3 {
	left: 16.6%;
}

#bottle4 {
	left: 19.1%;
}

#bottle5 {
	left: 21.6%;
}

#bottle6 {
	left: 24.1%;
}

.score {
	position: absolute;
	font-size: .52em;
	left: 26.5%;
	top: 6.3%;
	opacity: 1;
}

#time1 {
	font-family: 'Open Sans', sans-serif;
	position: absolute;
	left: 86.25%;
	top: 6.3%;
	font-size: .65em;
	opacity: 1;
}

.time {
	font-family: 'Open Sans', sans-serif;
	position: absolute;
	left: 89.5%;
	top: 3%;
	display: inline;
	font-size: 1.8em;
	opacity: 1;
}