* {
	font-family: Arial, Helvetica, sans-serif;
	overflow:hidden;
}

body {
	margin: 0;

/*	height: 100%;
	margin: 0px !important;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center top;
	position: absolute;
	background-image:url('http://i.imgur*/.com/IaaJX20.jpg');
/*	background-image: url("http://i.imgur.com/xbMvidl.png");*/
/*	background-image: url('http://i.imgur.com/vXYAuAL.png');*/
}
section{
}
#body{
/*		height: 100%;*/
	width:100%;
	margin: 0px !important;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center top;
	display:block;
/*	position: absolute;*/
	background-image:url('http://i.imgur.com/IaaJX20.jpg');
/*	top: 8.6%;*/

}

canvas {
	border: 0px;
	width: 100%;
/*	position:absolute;
	top:5.13%;*/
}


span {
	font-size: 1.75rem !important;
}

#container {
	position: relative;
	z-index:20;
}

#container canvas,
#overlay {
	position: absolute;
}

#coords {
	position: absolute;
}


#overlay {
	color: white;
}


